apiVersion: v1
kind: Secret
metadata:
  name: auth-api-secret
type: Opaque
data:
  DATABASE_URL: <base64-encoded-database-url>
  SECRET_KEY: <base64-encoded-secret-key>
  ALGORITHM: <base64-encoded-algorithm>
  ACCESS_TOKEN_EXPIRE_MINUTES: <base64-encoded-expire-minutes>