apiVersion: v1
kind: Secret
metadata:
  name: db-secret
type: Opaque
data:
  POSTGRES_USER: <base64-encoded-postgres-user>
  POSTGRES_PASSWORD: <base64-decoded-postgres-password>
  POSTGRES_DB: <base64-decoded-postgres-db>